<div class="container intro-container">
  <h3>{{ site.about_title | default: "About Me" }}</h3>
  <div class="row clearfix">
    <iframe src="{{ site.about_location }}" width="100%" height="250" style="border:none;"></iframe>
  </div>
  <br/>
  <div class="row clearfix">
    {%- if site.about_profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <span class="profile-img" style="background-image: url({{ site.about_profile_image | relative_url }})" />
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if site.about_profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      {{ site.about_content | strip | markdownify }}
    </div>
  </div>
  {%- if site.certifications -%}
    <div class="row clearfix">
    {% for certification in site.certifications %}
      <a href="{{ certification.url }}" target="_blank" title="{{ certification.title }}"><img src="{{ certification.image }}" width=65/></a>
    {% endfor %}
    </div>
  {%- endif -%}
</div>
